/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

/* Reset Browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color */
:root {
    --clr-primary: #469165;
    --clr-secondary: #001931;
    --clr-text: #627382;
    --clr-bullet: #001931;
    --clr-bg: #F7F6F2;
    --clr-white: #ffffff;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 12px;
}

.btn-primary {
    border-radius: 4px;
    background-color: var(--clr-primary);
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
    font-weight: 600;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.section-title{
    font-weight: 700;
    font-size: 3rem;
    color: var(--clr-secondary);
    text-align: center;
}
.text{
    line-height: 1.25rem;
    padding-top: 16px;
    text-align: center;
    color: var(--clr-text);
}

/* Flex Layout */
.flex {
    display: flex;
}

.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-1{
    width: 50%;
}