/* Header style */
.header {
    background-color: var(--clr-white);
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Navbar style */
.logo img {
    width: 140px;
}

.nav-items {
    list-style-type: none;
    gap: 32px;
}

.nav-items a {
    text-decoration: none;
    color: var(--clr-heading);
    font-weight: 500;
    font-size: 1rem;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 32px;
    height: 32px;
}

/* Hero section style */
.hero {
    padding-top: 70px;
    padding-bottom: 134px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.access-btn{
    padding: 8px 16px;
    background-color: white;
    color: var(--clr-primary);
    border: none;
    border-radius: 1000px;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}
.access-btn img{
    width: 16px;
}
.hero h1 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-align: center;
    margin: 16px 0;
    color: var(--clr-white);
}

.highlight{
    color: #30B868;
}

.hero-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--clr-white);
    text-align: center;
}

.buttons {
    margin-top: 32px;
    gap: 16px;
}

.hero-btn {
    gap: 10px;
}

.hero-btn img {
    width: 20px;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid white;
}

/* Feature section */
.feature{
    padding-top: 100px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 45px;
}
.card{
    text-align: center;
    border-radius: 8px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}
.card-img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 16px auto;
}
.card-img img{
    height: 32px;
    width: 32px;
}
.card h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--clr-secondary);
    margin-top: 16px;
}

/* Solution section */
.solution{
    padding: 120px 12px;
    gap: 60px;
}
.solution span{
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--clr-primary);
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.solution h2{
    text-align: left;
}
.solution p{
    text-align: left;
    max-width: 460px;
}
.list{
    margin-top: 40px;
    gap: 16px;
}
.list li{
    font-weight: 500;
    color: var(--clr-secondary);
    gap: 6px;
}
.list img{
    width: 20px;
}

/* Action section */
.action{
    border-radius: 12px;
    padding: 80px 40px;
    background-color: var(--clr-bg);
    margin-bottom: 120px;
}
.action p{
    max-width: 600px;
    margin: 0 auto;
}
.action-btn{
    margin-top: 24px;
}

/* Footer */
.footer{
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 30px;
}
.footer-container{
    gap: 80px;
}
.social p{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--clr-white);
    margin-bottom: 16px;
}
.link-img {
    gap: 16px;

}
.link-img img{
    width: 20px;
}
.bottom{
    border-top: 1px solid #efefef2f;
}
.bottom p{
    color: #FAFAFA;
    margin-top: 20px;
}
