/* Header style */
.header {
    background-color: var(--clr-white);
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Navbar style */
.logo img {
    width: 140px;
}

.nav-items {
    list-style-type: none;
    gap: 32px;
}

.nav-items a {
    text-decoration: none;
    color: var(--clr-heading);
    font-weight: 500;
    font-size: 1rem;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 32px;
    height: 32px;
}

/* Hero section style */
.hero {
    padding-top: 70px;
    padding-bottom: 134px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.access-btn{
    padding: 8px 16px;
    background-color: white;
    color: var(--clr-primary);
    border: none;
    border-radius: 1000px;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}
.access-btn img{
    width: 16px;
}
.hero h1 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-align: center;
    margin: 16px 0;
    color: var(--clr-white);
}

.highlight{
    color: #30B868;
}

.hero-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--clr-white);
    text-align: center;
}

.buttons {
    margin-top: 32px;
    gap: 16px;
}

.hero-btn {
    gap: 10px;
}

.hero-btn img {
    width: 20px;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid white;
}